<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<!-- XML Mapper에서 패키지까지 포함한 클래스명을 쓰지 않아도 됨 -->
	<typeAliases>
		<package name="com.kinder.domain"/>
		<package name="com.jiwon.domain"/>
		<package name="com.jiwon.dto"/>
		<package name="com.ina.domain"/>
	</typeAliases>
</configuration>
