<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kinder.mapper.hojungMapper">
  
  <select id="getTime" resultType="string">
  select now()
  </select>
  
  <!-- 어린이집 키워드 통합검색 조건 -->
  <sql id="search">
  		<if test="sigungucode != 0">
  			and k.sigungucode=#{sigungucode}
  		</if>
		<if test="kinkind_lists != null">
			<foreach collection="kinkind_lists" item="kinkindcode" separator="or" open="and(" close=")">k.kinkindcode=#{kinkindcode}</foreach>
  		</if>
  		<if test="vacancy != 0">
  			and (k.kinmax-k.kincurrent>0)
  		</if>
  		<if test="kinshuttle != 0">
  			and k.kinshuttle=1
  		</if>
  </sql>
  
  <!-- 어린이집 키워드 통합검색 -->
  <select id="selectKinders_kw" resultType="com.kinder.domain.KindergartenVO">
  <![CDATA[select k.kincode, k.sido, s.sigungu, k.kinname, kk.kinkind, k.kinroom, k.kinmax, k.kincurrent, k.kinteacher, k.kinhome, k.kincode2
  from kindergarten k, kinkind kk, sigungu s
  where k.sigungucode=s.sigungucode and k.kinkindcode=kk.kinkindcode 
	  and k.kinname like CONCAT('%',#{kinname},'%') 
	  and k.kinmax between ]]>
	  <foreach collection="kinmax" item="i" separator="and">#{i}</foreach>
  <include refid="search"></include>
  <![CDATA[order by s.sigungu, k.kinname, kk.kinkind]]>
  </select>
  
  <!-- 어린이집 지도 통합검색 -->
  <select id="selectKinders_map" resultType="com.kinder.domain.KindergartenVO">
  select k.kincode, k.sido, s.sigungu, k.kinname, k.kinaddress, k.kinphone, kk.kinkind, k.kinroom, k.kinmax, k.kincurrent, k.kinteacher, k.kinhome, k.kinla, k.kinlo, k.kincode2
  from kindergarten k, kinkind kk, sigungu s
  where k.sigungucode=s.sigungucode and k.kinkindcode=kk.kinkindcode 
  and k.kinname like CONCAT('%',#{kinname},'%') and k.sigungucode=#{sigungucode}
  order by s.sigungu, k.kinname, kk.kinkind
  </select>
  
  <!-- 예약 조건에 따른 예약 가능 키즈카페 select (전체 카페 list - 조건에 맞지 않는 카페 list = 조건에 맞는 카페 list) -->
  <select id="selectKidscafes" resultType="com.hojung.domain.KidscafeVO">
  <![CDATA[select * from kidscafe 
  where cfname like CONCAT('%',#{cfname},'%')
  and numperhour >= #{cfresnum}
  and cfopen <= #{starttime}
  and cfclose > #{endtime}]]>
  <if test="sigungucode != 0">
	and sigungucode=#{sigungucode}
  </if>
  <![CDATA[and cfcode not in 
  (select kc.cfcode
  from kidscafe kc, cfres_summary cs
  where kc.cfcode=cs.cfcode and kc.cfname like CONCAT('%',#{cfname},'%')
  and cs.cfresdate=#{cfresdate}
  and kc.numperhour-cs.cfresnum < #{cfresnum}]]>
  <if test="sigungucode != 0">
	and kc.sigungucode=#{sigungucode}
  </if>
  <foreach collection="cfrestime_lists" item="cfrestime" separator="or" open="and(" close=")">cs.cfrestime=#{cfrestime}</foreach>
  <![CDATA[group by kc.cfcode)
  order by cfcode]]>
  </select>
  
  
  <!-- 키즈카페 예약 상세페이지 : 키즈카페 정보 -->
  <select id="selectOneKidscafe" resultType="com.hojung.domain.KidscafeVO">
  select * from kidscafe where cfcode = #{cfcode}
  </select>
  
  <!-- 키즈카페 예약 상세페이지 : 키즈카페 예약 정보 -->
  <select id="selectResSum" resultType="com.hojung.domain.KidscafesumCri">
  select * from cfres_summary where cfcode=#{cfcode} and cfresdate=#{cfresdate}
  </select>
  
  <!-- 키즈카페 예약 -->
  <insert id="kidscafeRes" >
  insert into cafe_reservation(cfcode, gcode, cfresdate, adultsnum, kidsnum) values(#{cfcode},#{gcode},#{cfresdate},#{adultsnum},#{kidsnum})
  </insert>
  <select id="selectCfrescode" resultType="int">
  select max(cfrescode) from cafe_reservation
  </select>
  <insert id="kidscafeResTime" >
  insert into cafe_restime(cfrescode, cfrestime) values(#{cfrescode},#{cfrestime})
  </insert>
  
  
  <!-- 보호자 정보 가져오기 -->
  <select id="selectGuardian" resultType="com.kinder.domain.GuardianVO">
  select g.gcode, g.memid, g.grelation from member m, guardian g where m.memid=g.memid and m.memid=#{memid};
  </select>
  
  <!-- 나의 예약 내역 -->
  <select id="selectMyRes" resultType="com.hojung.domain.MyresVO">
  select cr.cfrescode, cr.confirtime, kc.cfimg, kc.cfname, kc.address, cr.cfresdate, cr.adultsnum, cr.kidsnum, kc.cfcode
  from cafe_reservation cr, kidscafe kc
  where cr.cfcode=kc.cfcode and gcode=#{gcode}
  order by cr.confirtime desc
  </select>
  
  <!-- 나의 예약 내역 시간 -->
  <select id="selectMyRestime" resultType="int">
  select cfrestime from cafe_restime where cfrescode=#{cfrescode} order by cfrescode
  </select>
  
  <!-- 예약내역 취소 -->
  <delete id="deleteCr">
  delete from cafe_reservation where cfrescode=#{cfrescode}
  </delete>
  <delete id="deleteCrt">
  delete from cafe_restime where cfrescode=#{cfrescode}
  </delete>


  </mapper>
  
  
  
  
  
  