@charset "UTF-8";
/* * {border: thin solid red;}  */

body {
	overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}

.kidscafe_search {
	margin: 0 auto;
	width:1597px;
	height: 576px;
}

.search_result {
	border-top: 1px solid #bbbbbb;
}

.search_result:after {
    content: "";
    display: table;
    clear: both;
}

/* 지도 검색 리스트 */
.kidscafe_list {
	float: left;
    width: 56%;
    height: 576px;
    padding: 10px 0 10px 0;
    overflow-Y: scroll;
}

.kidscafe_list p {
	font-size: 16px;
	color: #bbbbbb;
	padding: 0 0 0 30px;
}

/* .kidscafe_list table, tr, td { */
/* 	border: 1px solid #bbbbbb; */
/* 	border-collapse: collapse; */
/* } */

.kidscafe_list table {
	width: 97%;
	margin: 10px;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	cursor: pointer;
}

.kidscafe_list table tr:first-child td {
	width: 300px;
	height: 215px;
	padding : 0;
	border: 1px solid #dfdfdf;
}

.kidscafe_list table .cfimg {
	width: 300px;
	height: 215px;
	display: block;
}

.kidscafe_list table tr:not(:first-child) td:first-child {
	padding: 0 8px 0 13px;
}

.kidscafe_list table tr:nth-child(2) td {
	font-size: 20px;
	font-weight: bold;
	color: #666;
	border-top: 1px solid #dfdfdf;
}

.kidscafe_list table tr:not(:nth-child(2)) td {
	font-size: 15px;
	color: #666;
}

.kidscafe_list table tr:nth-child(4) td:first-child, tr:nth-child(5) td:first-child {
	width: 260px;
}

/* 페이징_map */
.paginationMap {
	text-align: center;
	font-size: 16px;
}

.paginationMap ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.paginationMap li {
    color: #575757;
    float: left;
    margin: 0;
    padding: 0px 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s;
}

.paginationMap li.active {
    background-color: #71c6ff;
    color: white;
}

.paginationMap li:hover:not(.active) {
	background-color: #e7e7e7;
}



/* 다음 지도 */
#map {
	float: right;
	width: 42.6%;
	min-width: 600px;
	height:576px;    
    padding: 10px;
    border-left: 1px solid #bbbbbb;
}

.marker {
	width: 52px;
	margin: 0 -5px 0 -11px;
	vertical-align: middle;
}

/* 커스텀 오버레이 */
.wrap {
	position: absolute;
	left: 0;
	bottom: 70px;
	width: 288px;
	height: auto;
	margin-left: -144px;
	text-align: left;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
	white-space: normal;
	cursor: pointer;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: auto;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 30px 0 10px;
	height: auto;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .title .title_span {
	display: inline-block;
	width: 248px;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	padding-bottom: 5px;
	padding-left: 5px;
	min-height: 83px;
}

.info .desc {
	position: relative;
	margin: 5px 5px 0 85px;
	height: auto;
}

.desc .ellipsis {
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info .link {
	color: #5085BB;
}

.wrap2 {
	position: absolute;
	left: -144px;
	bottom: 58px;
	width: 288px;
	height: 12px;
	text-align: left;
	padding: 0;
	margin: 0;
}

.wrap2 .info2:after {
	width: 286px;
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}



/* 커스텀 오버레이_semi */
.wrap_semi {
	position: relative;
	left: 0;
	bottom: 80px;
	width: auto;
	height: 44px; /*아래^위치조정*/
	text-align: center;
	overflow: hidden;
	font-size: 15px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-weight: bold;
	color: #585858;
	line-height: 1.5;
}

.wrap_semi .info_semi {
	padding: 5px;
	width: auto;
	height: 22px;
	border-radius: 5px;
	border: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap_semi .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info_semi .body_semi {
	position: relative;
	overflow: hidden;
}

.info_semi:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}









