@charset "UTF-8";
/* * {border: thin solid red;}  */

body {
	overflow-x: hidden;
}

a {
	color: black;
	text-decoration: none;
}

.kidscafe_search {
	margin: 0 auto;
	width:1597px;
	height: 576px;
}

.search_result {
	border-top: 1px solid #bbbbbb;
}

.search_result:after {
    content: "";
    display: table;
    clear: both;
}

/* 지도 검색 리스트 */
.kidscafe_list {
	float: left;
    width: 56%;
    height: 576px;
    padding: 10px 0 10px 0;
    overflow-Y: scroll;
}

/* .kidscafe_list p { */
/* 	font-size: 14px; */
/* 	color: #bbbbbb; */
/* 	padding-left: 10px; */
/* } */

/* .kidscafe_list table, tr, td { */
/* 	border: 1px solid #bbbbbb; */
/* 	border-collapse: collapse; */
/* } */

.kidscafe_list table {
	width: 97%;
	margin: 10px;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	cursor: pointer;
}

.kidscafe_list table tr:first-child td {
	width: 300px;
	height: 215px;
	padding : 0;
	border: 1px solid #dfdfdf;
}

.kidscafe_list table .noimage {
	width: 100%;
	height: 100%;
	display: block;
}

.kidscafe_list table tr:not(:first-child) td:first-child {
	padding: 0 8px 0 13px;
}

.kidscafe_list table tr:nth-child(2) td {
	font-size: 20px;
	font-weight: bold;
	color: #666;
	border-top: 1px solid #dfdfdf;
}

.kidscafe_list table tr:not(:nth-child(2)) td {
	font-size: 15px;
	color: #666;
}

.kidscafe_list table tr:nth-child(4) td:first-child, tr:nth-child(5) td:first-child {
	width: 260px;
}


/* 다음 지도 */
#map {
	float: right;
	width: 42.6%;
	min-width: 600px;
	height:576px;    
    padding: 10px;
    border-left: 1px solid #bbbbbb;
}

.marker {
	width: 52px;
	margin: 0 -5px 0 -11px;
	vertical-align: middle;
}

.content {
	padding:5px; 
	height: auto;
	width: 280px;
}

.content ul li {
	display: block;
	
}

.content ul li:first-child {
	font-size: 18px;
	font-weight: bold;
	color: #666;
	cursor: pointer;
}

.content ul li:not(:first-child) {
	font-size: 13px;
	color: #666;
	margin-bottom: 5px;
}

.content ul li:nth-child(5) {
	color: #0080ff;
}

.content ul li:nth-child(5) a {
	color: green;
	word-break: break-all;
}

.content ul li:last-child {
	text-align: right;
}

.content ul hr {
	clear: both;
	height: 3px;
	color: #bbbbbb;
    border-color: #bbbbbb;
    background-color: #bbbbbb;
    border-width: 0;
}

.content button {
	font-size: 12px;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	padding : 3px;
	outline: none;
	cursor: pointer;
}





