<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yebin.mapper.fieldtripMapper">

<insert id="insertCategory">
 insert into category (catemain, catesub) values (#{catemain}, #{catesub});
</insert>

<select id="insertCandidates" statementType="CALLABLE" parameterType="map" resultType="FieldtripVO">
{call fc_insertCandidates(#{cateVO.catemain}, #{cateVO.catesub}, #{areaVO.ararea}, #{areaVO.arcity}, #{fieldVO.ftperson},
 #{memVO.memid}, #{fieldVO.fttitle}, #{fieldVO.ftstart}, #{fieldVO.ftend}, #{fieldVO.ftweb}, #{fieldVO.ftaddr})};
</select>

<select id="getAddrByFtcode" resultType="String">
select ftaddr from fieldtrip where ftcode = #{ftcode};
</select>

<update id="updateFieldtrip">
update fieldtrip set ftchoice = true where ftcode = #{ftcode};
</update>

<insert id="insertTourCourse" statementType="CALLABLE" parameterType="map">
call fc_insertTourism(#{tourVO.touraddr}, #{tourVO.tourweb}, #{tourVO.tourremarks}, 1, #{fieldVO.ftcode});
</insert>

</mapper>